<div class="mainContainer _1_Nn" data-reactid="435">
    <div class="_2rUR" data-reactid="436">
        <div class="_2Akv" data-reactid="437">
            <div class="CeuE" data-reactid="438">
                <div class="ovY8" data-reactid="439"><img class="_1Wao"
                        src="https://assetscdn1.paytm.com/images/catalog/view/291812/1568807608231.jpg?imwidth=64&amp;impolicy=hq"
                        data-reactid="440"></div>
                <div class="_3O4j" data-reactid="441">
                    <div class="saMv" data-reactid="442">
                        <h2 class="OPyu" data-reactid="443">Smartphones at Best Price Online</h2>
                    </div><!-- react-text: 444 -->
                    <!-- /react-text -->
                </div>
            </div>
        </div>
    </div>
    <div class="_2fSM" data-reactid="445">
        <div data-reactid="446">
            <div class="_10Am" data-reactid="447">
                <div class="jCqS _19iN" style="left:0%;" data-reactid="448">
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="449" ng serve>
                        <div class="_3Idz" data-reactid="450"><a
                                href="https://paytmmall.com/redmi-7a-2-gb-32-gb-matte-blue-CMPLXMOBREDMI-7A-2-GTECH221382E7D1C24-pdp?src=store&amp;product_id=311760115&amp;from=storefront"
                                title="At Rs. 6497" class="s3aY" target="_top" data-reactid="451">
                                <div class="k50R" data-reactid="452">
                                    <div class="_3M3H" data-reactid="453"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 6497"
                                                src="https://assetscdn1.paytm.com/images/catalog/view_item/505091/1580291897805.jpg?imwidth=280&amp;impolicy=hq"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="454">At Rs. 6497</div>
                                </div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="455">
                        <div class="_3Idz" data-reactid="456"><a
                                href="https://paytmmall.com/oppo-a9-2020-8GB-128GB-llpid-203181?src=store&amp;from=storefront"
                                title="At Rs. 15510" class="s3aY" target="_top" data-reactid="457">
                                <div class="k50R" data-reactid="458">
                                    <div class="_3M3H" data-reactid="459"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 15510"
                                                src="https://assetscdn1.paytm.com/images/catalog/view_item/505093/1580292344164.png?imwidth=280&amp;impolicy=hq"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="460">At Rs. 15510</div>
                                </div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="461">
                        <div class="_3Idz" data-reactid="462"><a
                                href="https://paytmmall.com/Samsung-Galaxy-A30s-llpid-202341?src=store&amp;from=storefront"
                                title="At Rs. 14099" class="s3aY" target="_top" data-reactid="463">
                                <div class="k50R" data-reactid="464">
                                    <div class="_3M3H" data-reactid="465"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 14099"
                                                src="https://assetscdn1.paytm.com/images/catalog/view_item/505094/1580292093035.jpg?imwidth=280&amp;impolicy=hq"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="466">At Rs. 14099</div>
                                </div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="467">
                        <div class="_3Idz" data-reactid="468"><a
                                href="https://paytmmall.com/realme-5-pro-4-gb-64-gb-sparkling-blue-CMPLXMOBREALME-5-PROBALA8160123C315D85-pdp?src=store&amp;product_id=302096435&amp;from=storefront"
                                title="At Rs. 12988" class="s3aY" target="_top" data-reactid="469">
                                <div class="k50R" data-reactid="470">
                                    <div class="_3M3H" data-reactid="471"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 12988"
                                                src="https://assetscdn1.paytm.com/images/catalog/view_item/505096/1580292159651.jpg?imwidth=280&amp;impolicy=hq"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="472">At Rs. 12988</div>
                                </div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="473">
                        <div class="_3Idz" data-reactid="474"><a
                                href="https://paytmmall.com/vivo-y91i-llpid-196628?src=store&amp;from=storefront"
                                title="At Rs. 6780" class="s3aY" target="_top" data-reactid="475">
                                <div class="k50R" data-reactid="476">
                                    <div class="_3M3H" data-reactid="477"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 6780"
                                                src="https://assetscdn1.paytm.com/images/catalog/view_item/505097/1580292355356.png?imwidth=280&amp;impolicy=hq"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="478">At Rs. 6780</div>
                                </div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:17.857142857142858%;" data-reactid="479">
                        <div class="_3Idz" data-reactid="480"><a
                                href="https://paytmmall.com/oppo-a5-32-gb-diamond-red-CMPLXMOBOPPO-A5-32-GDUMM141C41A0D2B-pdp?src=store&amp;product_id=205109759&amp;from=storefront"
                                title="At Rs. 8720" class="s3aY" target="_top" data-reactid="481">
                                <div class="k50R" data-reactid="482">
                                    <div class="_3M3H" data-reactid="483"><span class="_2EKM"><img role="presentation"
                                                alt="At Rs. 8720"
                                                src="https://assetscdn1.paytm.com/images/catalog/view_item/505098/1580292310317.jpg?imwidth=280&amp;impolicy=hq"></span>
                                    </div>
                                    <div class="RcEe" data-reactid="484">At Rs. 8720</div>
                                </div>
                            </a></div>
                    </div>
                </div>
                <!-- <div class="_1JVU _3pq_" data-reactid="485"><span data-reactid="486"></span></div> -->
            </div>
        </div>
    </div>
</div>