<div class="mainContainer _34o4" data-reactid="361">
    <div class="_3yJc" data-reactid="362">
        <div data-reactid="363">
            <div class="_10Am" data-reactid="364">
                <div class="jCqS _19iN" style="left:0%;" data-reactid="365">
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="366">
                        <div class="E7nC" data-reactid="367"><a
                                href="https://paytmmall.com/paytmmall-app-clpid-6917?src=store&amp;from=storefront"
                                target="_top" title="Shop on Mall" data-reactid="368">
                                <div class="_3XVN" data-reactid="369"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/490054/1576135880393.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Shop on Mall"></div>
                                <div class="_2zXZ" data-reactid="371">Shop on Mall</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="372">
                        <div class="E7nC" data-reactid="373"><a
                                href="https://paytmmall.com/paytm-fastag-MISPAYTM-FASTAGONE-6707493A5E3B71-pdp?src=store&amp;from=storefront"
                                target="_top" title="FASTag" data-reactid="374">
                                <div class="_3XVN" data-reactid="375"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/493796/1577192325900.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="FASTag"></div>
                                <div class="_2zXZ" data-reactid="377">FASTag</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="378">
                        <div class="E7nC" data-reactid="379"><a
                                href="https://paytmmall.com/electronics-clpid-68?src=store&amp;from=storefront"
                                target="_top" title="Electronics" data-reactid="380">
                                <div class="_3XVN" data-reactid="381"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/265711/1577951731076.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Electronics"></div>
                                <div class="_2zXZ" data-reactid="383">Electronics</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="384">
                        <div class="E7nC" data-reactid="385"><a
                                href="https://paytmmall.com/men-fashion-clpid-48?src=store&amp;from=storefront"
                                target="_top" title="Men Fashion" data-reactid="386">
                                <div class="_3XVN" data-reactid="387"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/208480/1579266043125.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Men Fashion"></div>
                                <div class="_2zXZ" data-reactid="389">Men Fashion</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="390">
                        <div class="E7nC" data-reactid="391"><a
                                href="https://paytmmall.com/women-fashion-clpid-80?src=store&amp;from=storefront"
                                target="_top" title="Women Fashion" data-reactid="392">
                                <div class="_3XVN" data-reactid="393"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/208483/1579266067812.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Women Fashion"></div>
                                <div class="_2zXZ" data-reactid="395">Women Fashion</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="396">
                        <div class="E7nC" data-reactid="397"><a
                                href="https://paytmmall.com/home-and-kitchen-clpid-81?src=store&amp;from=storefront"
                                target="_top" title="Home &amp; Kitchen" data-reactid="398">
                                <div class="_3XVN" data-reactid="399"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/459082/1576128058168.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Home &amp; Kitchen"></div>
                                <div class="_2zXZ" data-reactid="401">Home &amp; Kitchen</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="402">
                        <div class="E7nC" data-reactid="403"><a
                                href="https://paytmmall.com/mobiles-tablets-clpid-6942?src=store&amp;from=storefront"
                                target="_top" title="Mobiles" data-reactid="404">
                                <div class="_3XVN" data-reactid="405"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/208475/1552021869514.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Mobiles"></div>
                                <div class="_2zXZ" data-reactid="407">Mobiles</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="408">
                        <div class="E7nC" data-reactid="409"><a
                                href="https://paytmmall.com/laptops-clpid-1272?src=store&amp;from=storefront"
                                target="_top" title="Laptops" data-reactid="410">
                                <div class="_3XVN" data-reactid="411"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/265708/1552022279130.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Laptops"></div>
                                <div class="_2zXZ" data-reactid="413">Laptops</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="414">
                        <div class="E7nC" data-reactid="415"><a
                                href="https://paytmmall.com/appliances-clpid-5563?src=store&amp;from=storefront"
                                target="_top" title="TVs &amp; Appliances" data-reactid="416">
                                <div class="_3XVN" data-reactid="417"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/208477/1576502565343.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="TVs &amp; Appliances"></div>
                                <div class="_2zXZ" data-reactid="419">TVs &amp; Appliances</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="420">
                        <div class="E7nC" data-reactid="421"><a
                                href="https://paytmmall.com/bazaar-campaign-deals-llpid-200487?channel=web&amp;site_id=1&amp;version=2&amp;discoverability=online&amp;use_mw=1&amp;page=1&amp;price=33%2C499&amp;src=store&amp;from=storefront"
                                target="_top" title="Bazaar" data-reactid="422">
                                <div class="_3XVN" data-reactid="423"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/480212/1573726189611.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Bazaar"></div>
                                <div class="_2zXZ" data-reactid="425">Bazaar</div>
                            </a></div>
                    </div>
                    <div class="_3Xyq" style="width:9.615384615384615%;" data-reactid="426">
                        <div class="E7nC" data-reactid="427"><a
                                href="https://paytmmall.com/provision-store-clpid-5409?src=store&amp;from=storefront"
                                target="_top" title="Grocery" data-reactid="428">
                                <div class="_3XVN" data-reactid="429"><img class="_1H9O"
                                        src="https://assetscdn1.paytm.com/images/catalog/view_item/208473/1573034033201.jpg?imwidth=140&amp;impolicy=hq"
                                        alt="Grocery"></div>
                                <div class="_2zXZ" data-reactid="431">Grocery</div>
                            </a></div>
                    </div>
                </div>
                <div class="_1JVU _3pq_" data-reactid="432"><span data-reactid="433"></span></div>
            </div>
        </div>
    </div>
</div>